In [2]:
2 * 3

[1] 6

In [4]:
1 - 1

[1] 0

In [6]:
0 - 5

[1] -5

In [12]:
#assigning value in r using the less and minus sign ' <-'
a <- 1
a + 2

[1] 3

In [16]:
#It prints out as a Matrix of 2x3
#Interesting, i should study some R programming
df = data.frame(Emp_Name = c("Jai","David","Michel"),
                Job_role = c("Manager","Team Lead","Developper")
                )
print(df)

  Emp_Name   Job_role
1      Jai    Manager
2    David  Team Lead
3   Michel Developper